
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Conversor de Moedas - Bravo Challenge - Hurb</title>
        <meta name="theme-color" content="#000000">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <h1 class="text-center display-4 my-3">Conversor de Moedas - Bravo Challenge</h1>

            <div class="row">

                <form action="" id="form-valor" onsubmit="return false" class="col-sm-6  offset-sm-3">

                    <div class="form-group">
                        <h5 class="text-center">Informe o valor a ser convertido</h5>
                    </div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="numeric" id="moeda" class="form-control form-control-lg moeda" placeholder="R$ 0,00">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-outline-secondary btn-converter" id="button-addon2">Converter</button>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg">
                            <label>De</label>
                        </div>
                    </div>

                    <div class="clearfix"></div>

                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control form-control-lg">
                            <label>Para</label>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </body>
</html>
