
<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Conversor de Moedas - Bravo Challenge - Hurb</title>
        <meta name="theme-color" content="#000000">
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    </head>

    <body>
        <div class="container">
            <h1 class="text-center display-4 my-3">Conversor de Moedas - Bravo Challenge</h1>

            <div class="row">
                <div class="form-group">
                    <h5 class="text-center">Cadastro Nova Moeda</h5>
                </div>
                <form action="/new" novalidate method="post" class="col-sm-6  offset-sm-3">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    <div class="form-group">
                        <div class="form-floating">
                            {{ form.codecoin }}
                            <label for="{{ form.codecoin.id_for_label }}">{{ form.codecoin.label }}</label>
                            {{ form.codecoin.errors }}
                        </div>
                        <div class="form-floating">
                            {{ form.namecoin }}
                            <label for="{{ form.namecoin.id_for_label }}">{{ form.namecoin.label }}</label>
                            {{ form.namecoin.errors }}
                        </div>
                        <div class="form-floating mb-3">
                            {{ form.price }}
                            <label for="{{ form.price.id_for_label }}">{{ form.price.label }}</label>
                            {{ form.price.errors }}
                        </div>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-outline-secondary">Cadastrar</button>
                            <!-- <a class="btn btn-success" href="#" role="button">Cadastrar</a> -->
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
