{% extends 'base/base.html' %}
{% load static %}

{% block title %}Conversão de Moedas{% endblock title %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="jumbotron">
                <h1 class="display-4">Conversão de Moedas</h1>
                <p class="lead">Este site realiza conversões de moedas sugerido pelo desafio técnico da Hurb.</p>
                <hr class="my-4">
            </div>

        </div>
    </div>
</div>

{% endblock body %}