# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Style for every file
[*.py]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true