# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Style for every file
[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
