/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpunit.result.cache
storage/app/*
storage/framework/cache/*
storage/framework/views/*
storage/logs/*
database/database.sqlite
tests/build/*
tests/coverage-html/*
