{
    "arrowParens": "always",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "insertPragma": false,
    "printWidth": 120,
    "proseWrap": "preserve",
    "requirePragma": false,
    "semi": true,
    "semicolons": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "useTabs": false
}
