version: "3.7"

services:
  postgres:
    image: postgres:13.3-alpine
    restart: always
    ports:
      - 5432:5432
    env_file:
        - .env
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    volumes:
      - pgdata:/data/postgres
    networks:
      - app-network
networks:
  app-network:
    driver: bridge

volumes:
  pgdata:
    driver: local