version: "3"

services:

    api:
        build: .
        ports:
            - 8000:8000
        env_file:
            - ./.env
        command: bash -c "uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload"
        volumes:
            - ./:/usr/src/app