version: '3.8'
services:
    mongo:
        image: mongo
        restart: always
        environment:
            MONGO_INITDB_ROOT_USERNAME: root
            MONGO_INITDB_ROOT_PASSWORD: 123456
            MONGO_INITDB_DATABASE: hurb
        ports:
            - "27017:27017"
        networks:
            - hurb-network
    redis:
        image: redis:6.2-alpine
        restart: always
        ports:
            - '6379:6379'
        command: redis-server --save 20 1 --loglevel warning --requirepass eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
        networks:
            - hurb-network
    app:
        build: .
        image: app:2
        ports:
            - '8080:8080'
        environment:
            - ENV=DOCKER
            - API_AWESOME_BASE_URL=https://economia.awesomeapi.com.br
            - DATABASE_HOST=mongo
            - DATABASE_USER=root
            - DATABASE_PASSWORD=123456
            - DATABASE_PORT=27017
            - DATABASE_NAME=hurb
            - CACHE_HOST=redis
            - CACHE_PASSWORD=eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81
            - CACHE_PORT=6379
            - BANK_CURRENCY_CODE=USD
        depends_on:
            - mongo
            - redis
        networks:
            - hurb-network
networks:
    hurb-network:
        driver: bridge