[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasgger = "~=0.9.5"
python-dotenv = "~=0.17.1"
requests = "~=2.25.1"
Flask = "~=1.1.4"
Flask-Cors = "~=3.0.10"
Flask-RESTful = "~=0.3.8"
redis = "~=3.5.3"
pandas = "~=1.1.2"

[dev-packages]
pytest = "~=6.2.4"

[requires]
python_version = "3.7"
