[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipdb = "*"
django = "*"
python-decouple = "*"
black = "*"
djangorestframework = "*"
django-filter = "*"
requests = "*"
drf-yasg = "*"
psycopg2-binary = "*"
django-heroku = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
