django
djangorestframework
markdown
django-filter
djangorestframework-jwt
psycopg2-binary
django-cors-headers
django-reset-migrations
weasyprint
setuptools
pandas
xlrd
ofxparse
gunicorn
coreapi
pygments
drf-yasg
gunicorn