django==3.2.5
djangorestframework==3.12.4
markdown
django-filter
djangorestframework-jwt
psycopg2-binary
django-cors-headers
django-reset-migrations
weasyprint
setuptools
pandas
xlrd
ofxparse
gunicorn
coreapi
pygments
drf-yasg