@import "node_modules/primeflex/src/variables";
@import "src/app/app.component";
$md: 850px;

.quote-container {
  max-width: 80%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;

  .panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding-top: 0.5rem;

    .field {
      padding: 0.5rem 1rem 0;

      .amount {
        min-width: 6rem;

        .p-inputtext.p-component.p-element.p-inputnumber-input.p-filled {
          text-align: right;
        }
      }

      .result {
        overflow: hidden;
      }
    }

    .arrow, .times {
      font-size: 1.2rem;
      font-weight: 700;
      margin-left: .25rem;
      margin-right: .25rem;
    }
  }
}

@media (min-width: $md) and (max-width: $xl) {
  .quote-container {
    max-width: 95%;

    .amount {
      width: 6rem !important;
    }

    .field {
      padding-left: 0.5rem !important;
      padding-right: 0.5rem !important;
    }

    .arrow, .times {
      font-size: 1rem !important;
      margin: 0 !important;
    }
  }
}

@media (min-width: $md) and (max-width: $lg) {
  .quote-container {
    .result, .currency-container, .amount > span > input {
      font-size: 0.8rem;
    }
  }
}

@media (max-width: $md) {
  .quote-container {
    max-width: 98%;

    .panel {
      flex-direction: column;
      align-items: stretch;
    }

    .arrow, .times {
      display: none;
    }
  }
}
