@import "src/app/app.component";

.back-button {
  display: block;
  margin: 0 auto 2rem;
}

.main.title {
  margin-bottom: 2rem;
}

.manager-container {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

.error-wrapper {
  font-size: 14px;
  text-align: right;
  height: 16px;
}
