<form method="post" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <label>De</label>
      <input class="form-control" type="text" [(ngModel)]="cotacao.from" name="from" placeholder="BRL" />
    </div>
    <div class="col">
      <label>Valor de conversão</label>
      <input class="form-control" type="number" [(ngModel)]="cotacao.amount" name="amount" placeholder="150,50" value="{{0 | currency : 'BRL' : '' }}" />

    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <label>Para </label>
      <input class="form-control" type="text" [(ngModel)]="cotacao.to" name="to" placeholder="USD" />
    </div>
    <div class="col">
      <label>Valor convertido</label>
      <input class="form-control" disabled type="number" [(ngModel)]="retorno.cotacao.valorConvertido" name="ValorConvertido" value="{{0  | currency : 'BRL' : '' : '0.2-12' }}">
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </div>
  </div>
</form>
