<form method="post" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <label>De</label>
      <input class="form-control" type="text" [(ngModel)]="cotacao.from" name="from" placeholder="BRL" />
    </div>
    <div class="col">
      <label>Valor de conversão</label>
      <input class="form-control" type="number" [(ngModel)]="cotacao.amount" name="amount" placeholder="150,50" value="{{0 | currency : 'BRL' : '' }}" />

    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <label>Para </label>
      <input class="form-control" type="text" [(ngModel)]="cotacao.to" name="to" placeholder="USD" />
    </div>
    <div class="col">
      <label>Valor convertido</label>
      <input class="form-control" disabled type="number" [(ngModel)]="retorno.cotacao.valorConvertido" name="ValorConvertido">
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary mb-2">Buscar</button>
    </div>
  </div>
</form>

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Holy guacamole!</strong> You should check in on some of those fields below.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
