.currency-container {
  display: flex;
  align-items: center;

  .currency-image {
    max-width: 1.5rem;
    margin-right: 0.5rem;
  }
}

.p-component.p-inputnumber.p-inputnumber-buttons-stacked,
.p-component.p-dropdown.p-dropdown-clearable {
  width: 100%;
}
