worker_processes auto;

events {
    worker_connections 1024;
}

http {

    # List of application servers
    upstream api_servers {
        ip_hash
        server cuco_api_1;
        server cuco_api_2;
        server cuco_api_3;
    }

    # Configuration for the server
    server {

        # Running port
        listen [::]:5100;
        listen 5100;

        # Proxying the connections
        location ~ {
            proxy_pass http://api_servers;
        }
    }
}