#All dependencies of application

#microframework used to build api 
flask 

#requirements to use http message methods
flask_api

#requirements for usign swagger to documentation
flask_swagger_ui
apispec
apispec_webframeworks
openapi_spec_validator

#requirements for usign database
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy