#-- All dependencies of application --#

#microframework used to build api 
flask 

#requirements to consumes quote api (Awesome API)
requests

#requirements to usign unit test
pytest

#requirements for usign swagger to documentation
flask_swagger_ui
apispec
apispec_webframeworks

#requirements for usign database
flask-sqlalchemy
flask-marshmallow
marshmallow-sqlalchemy