html {
  height: 100%;
  background: linear-gradient(-120deg, #021B79, #0575E6, #205E9B);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
