<h1 id="tableLabel">Moedas</h1>

<form method="post" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col">
      <label>Código da Moeda</label>
      <input class="form-control" type="text" [(ngModel)]="moeda.Codigo" name="codigo" placeholder="GTA" />
    </div>
    <div class="col">
      <label>Valor equivalente a $1 Dólar(USD)</label>
      <input class="form-control" type="number" [(ngModel)]="moeda.ValorEmDolar" name="valorEmDolar" placeholder="953,67" />
    </div>
  </div>
  <p></p>
  <div class="row">
    <div class="col">
      <button type="submit" class="btn btn-primary mb-2">Adicionar</button>
    </div>
  </div>
</form>


<p *ngIf="!moedas"><em>Loading...</em></p>
<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="moedas">
  <thead>
    <tr>
      <th>Código</th>
      <th>Valor equivalente a $1 Dólar(USD)</th>
      <th>Adicionado em</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let moeda of moedas">
      <td>{{ moeda.codigo }}</td>
      <td>{{ moeda.valorEmDolar | currency : 'BRL' : '' : '0.2-12' }}</td>
      <td>{{ moeda.data | date: 'dd/MM/yyyy hh:mm' }}</td>
      <td><button class="btn btn-warning mb-2" type="button" (click)="ExcluirMoeda(moeda.codigo)">EXCLUIR</button></td>
    </tr>
  </tbody>
</table>
