<form role="form">

  <div class="row">
    <div class="col-sm-3">
      <label for="from">From</label>

      <select [(ngModel)]="exchange.from"  id="from" name="from" class="form-control">
        <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{currency.name}}</option>
      </select>
    </div>

    <div class="col-sm-1" style="text-align : center; height : 59px; display: flex;align-items: center;">
      <span class="glyphicon glyphicon-arrow-right"></span>
    </div>

    <div class="col-sm-3">
      <label for="to">To</label>
      <select [(ngModel)]="exchange.to"  id="to" name="to" class="form-control">
        <option *ngFor="let currency of currencies" [ngValue]="currency.id">{{currency.name}}</option>
      </select>
    </div>

    <div class="col-sm-3">
      <label for="amount">Amount</label>
      <input type="number" id="amount" name="amount" class="form-control" [(ngModel)]="exchange.amount"/>
    </div>
  </div>

  <div class="row" style="margin-top:8px; text-align:center">
    <div class="col-sm-10">
      <button type="button" class="btn btn-secondary" name="button" (click)="getExchangeRate()">Get Rate</button>
    </div>
  </div>

  <div class="row" style="margin-top:8px; text-align:center">
    <div class="col-sm-10 jumbotron" *ngIf="exchange.convertedAmount">
      <h4>
        Result : {{exchange.convertedAmount}}
      </h4>
    </div>
  </div>
</form>
