<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 120px;">
        <form id="currencyConversionForm" method="get">
            <div class="form-group">
                <label for="amount">Amount</label>
                <input id="amount" type="number" ng-required="true" class="form-control" ng-model="formData.amount" ng-pattern="/^(?=.)[]?([1-9][0-9]{0,2}(,[0-9]{3})*|[0-9]+)?([.][0-9]{1,2})?$/" step="0.01" placeholder="put here" />
                <br />
                <label for="fromCurrency">From</label>
                <select id="fromCurrency" required class="selectpicker form-control" data-width="auto" ng-required="true" ng-model="formData.fromCurrency">
                    <option value="">Select here</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="BRL">BRL</option>
                    <option value="BTC">BTC</option>
                    <option value="ETH">ETH</option>
                </select>
                <br />
                <label for="toCurrency">To</label>
                <select id="toCurrency" required class="selectpicker form-control" data-width="auto" ng-required="true" ng-model="formData.toCurrency">
                    <option value="">Select here</option>
                    <option value="USD">USD</option>
                    <option value="EUR">EUR</option>
                    <option value="BRL">BRL</option>
                    <option value="BTC">BTC</option>
                    <option value="ETH">ETH</option>
                </select>
                <br />
                <label for="convertedValue">Converted Value</label>
                <input type="text" class="form-control" readonly ng-model="data.Converted_Value" />
                <br />
                <label for="lastServerUpdate">Last Quotation Update</label>
                <input type="text" class="form-control" readonly ng-model="data.Quotation_Last_Update" />
                <br />
                <button class="btn btn-primary pull-right" ng-click="convert(formData);">
                    <span class="glyphicon glyphicon-refresh"></span>
                    Convert
                </button>
            </div>
        </form>
        <br />
        {{message}}
    </div>
</div>