<div class="d-flex justify-content-center">
    <div class="form-group">
        <input type="text" class="form-control" id="amount" />
        <select class="selectpicker form-control" data-width="auto">
            <option>USD</option>
            <option>EUR</option>
            <option>BRL</option>
            <option>BTC</option>
            <option>ETH</option>
        </select>
        <select class="selectpicker form-control" data-width="auto">
            <option>USD</option>
            <option>EUR</option>
            <option>BRL</option>
            <option>BTC</option>
            <option>ETH</option>
        </select>
        <input type="text" class="form-control" id="convertedValue" readonly />
        <button class="btn btn-primary">
            <span class="glyphicon glyphicon-refresh"></span>
            Convert
        </button>
    </div>
</div>